:root{
    --iris: #6642D1;
    --french-gray: #CBCDD1;
    --moonstone: #25BDD5;
    --dodger-blue: #0095FF;
    --pale-azure: #86D5FF;

    --main-navbar-height: 5rem;
    --vertical-navbar-width:15rem;
}

#mainNavbar{
    height: var(--main-navbar-height);
}

.navbar-vertical {
    width: 100vw;
    position: fixed;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: var(--moonstone);
}

main{
    padding: 2rem;
    position: relative;
}

@media (min-width: 992px) {
        .navbar-expand-lg.navbar-vertical {
            width: var(--vertical-navbar-width);
            border-right: 1px solid var(--iris);
            height: calc(100vh - var(--main-navbar-height));
            position: fixed;
        }
    
        main {
            margin-left: calc(var(--vertical-navbar-width));
        }
}
    

}
