:root{
    --licorice: #110B11;
    --satin-sheen-gold: #B7990D;
    --cambrige-blue: #8CADA7;
    --crem: #f2f4cb;
    --celadon: #A5D0A8;

    --main-navbar-height: 5rem;
    --vertical-navbar-width:15rem;
}

#mainNavbar{
    height: var(--main-navbar-height);
}

.navbar-vertical {
    width: 100vw;
    position: fixed;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: var(--celadon);
}

main{
    padding: 2rem;
    position: relative;
}

@media (min-width: 992px) {
    
  

   
        .navbar-expand-lg.navbar-vertical {
            width: var(--vertical-navbar-width);
            border-right: 1px solid var(--licorice);
            height: calc(100vh - var(--main-navbar-height));
            position: fixed;
        
    
        main {
            margin-left: calc(var(--vertical-navbar-width));
        }
    }
    

}
